// Colors //
$baby-blue: rgb(182, 217, 231);
$pink: rgb(248, 158, 173);
$dark-pink: rgb(241, 50, 82);

// Fonts //
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); // "Montserrat", sans-serif;

body {
  margin: 0;
  padding: 0;
}

#body {
  width: 100vw;
  height: 100vh;

  header {
    width: 100%;
    height: 15%;
    background-color: $pink;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #headerTitle {
      font-size: 48px;
      font-family: "Righteous", cursive;
      color: $dark-pink;
      margin: 20px;
      padding: 0;
    }
  }

  main {
    width: 100%;
    height: 80%;
    display: flex;

    nav {
      width: 20%;
      border: 2px red solid;
    }
    #todoContainer {
      width: 80%;
      border: 2px blue solid;

      #todoTitle {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        margin: 20px;
      }
    }
  }

  footer {
    width: 100%;
    height: 5%;
    background-color: $pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #copyright {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }
  }
}
